<form id="booking-form" action="/apps/bookthatapp">
	<input type="text" autocomplete="off" class="datepicker bta datepicker_input" name="booking-start" placeholder="Enter Rental Date">
	<div class="button-wrap">
	  <input type="submit" class="search_button" value="SEARCH DRESSES">
	</div>
</form>