{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}

<div class="grid large--four-fifths push--large--one-tenth">

{% paginate collection.products by 12 %}


</div>
<header class="page-header">
  <div class="grid-item remove_padding large--three-quarters push--large--one-eighth">
    {% include 'booking-availability-search-inline' %}
  </div>
  <h1 class="grid-item text-center">
    {% if collection.title == 'Products' %}
      Dresses
    {% else %}
      {{ collection.title }}
    {% endif %}
  </h1>
</header>

{% comment %}
  Use .grid--rev so that the collection tags appear below the products on mobile
  Use .grid--rev if tags are going to be used, otherwise .grid will do
{% endcomment %}
<div class="grid text-center">
    {% comment %}
    <p class="right">
      <a href="?view=list" title="List view">List view</a>
    </p>
    <br>
    {% endcomment %}

    {% comment %}
      Use class grid-uniform to have evenly sized columns clear
      each other properly at each breakpoint.
    {% endcomment %}
    <div class="grid-uniform">
      <div class="collections-grid grid-item large--four-fifths push--large--one-tenth">

        {% comment %}
          Loop through our products in the current collection.
          See the snippet 'product-grid-item' for the layout.
        {% endcomment %}
        {% for product in collection.products %}

          {% include 'product-grid-item' %}

        {% else %}

          <div class="grid-item">
            <p>There are no products in this collection.</p>
          </div>

        {% endfor %}
      </div>

    </div>

    {% if paginate.pages > 1 %}
      <hr>

      <div class="text-center">
        {% include 'pagination-custom' %}
      </div>
    {% endif %}

  </div>

  {% comment %} tags not needed
  <div class="grid-item large--one-third">

    {% comment %}
      Loop through the tags in the current collection.
      See the snippet 'product-grid-item' for the layout.
    {% endcomment %}
    {% include 'collection-tags' %}

  {% endcomment %}

</div>

{% endpaginate %}