<meta charset="utf-8" />
<p><img src="//cdn.shopify.com/s/files/1/0401/1709/files/rentreturnreserveB2_2048x2048.gif?40042" width="793" height="241" /></p>
<div class="gold_btn_container gold_btn">RESERVE</div>
<ul>
	<li><span>Select the dress that you want for your night out.</span></li>
	<li><span>Each rental lasts for 3 days. Reserve a day before the arrival date.</span></li>
</ul>
<div class="gold_btn_container gold_btn">RENT</div>
<ul>
	<li><span>Choose your dress size and rental date.</span></li>
	<li><span>Add dress to Garment Bag.</span></li>
	<li><span>Check out and purchase rental.</span></li>
	<li><span>Arrival by 8PM, before the 1st of the 3-day rental.</span></li>
</ul>
<div class="gold_btn_container gold_btn">RETURN</div>
<ul>
	<li><span>After your fabulous night out, return the rental in your prepaid envelope at your nearest UPS dropbox on your return date.</span></li>
	<li><span>Send us pictures! Be featured on our blog and Instagram feed. And don't worry about dry cleaning! It's FREE!!!</span></li>
</ul>
<div class="grid__item one-whole how_it_works_boxes">
	<div class="grid__item one-whole black_boxes remove_padding">
		<a class="grid__item one-third remove_padding no_borders" href="/pages/frequently-asked-questions">
			<div class="white_border desk--table__contain">
				<div class="desk--table__inner">
				<h2>Frequently<br />Asked<br />Questions</h2>
				</div>
			</div>
		</a>

		<a class="grid__item one-third remove_padding no_borders" href="/pages/size-chart">
			<div class="white_border desk--table__contain">
				<div class="desk--table__inner">
				<h2>SIZING CHART</h2>
				</div>
			</div>
		</a>
		<a class="grid__item one-third remove_padding no_borders" href="/pages/rental-agreement">
			<div class="grid__item one-third white_border remove_padding desk--table__contain">
				<div class="desk--table__inner">
					<h2>RENTAL AGREEMENT</h2>
				</div>
			</div>
		</a>
	</div>
</div>