<div class="grid">
	<form id="booking-form" class="index-booking-form" action="/apps/bookthatapp">
		<div class="grid-item large--one-whole medium--one-third">
		  <label for="" class="find_available_dresses">{{ 'dress_icon.jpg' | asset_url | img_tag }}</label>
		</div>
		<div class="grid-item large--one-whole medium--one-third">
		  <input type="text" autocomplete="off" class="datepicker bta datepicker_input_index" name="booking-start" placeholder="Select Rental Date">
		</div>
		<div class="grid-item large--one-whole medium--one-third">
			<div class="button-wrap ">
			  <input type="submit" class="search_button" value="SEARCH DRESSES">
			</div>
		</div>
	</form>
</div>