<div class="text-center right_search_form">
	<form id="booking-form" action="/apps/bookthatapp">
		<div class="grid">
		  <label for="" class="find_available_dresses">Find Available Dresses</label>
		  <input type="text" autocomplete="off" class="datepicker bta datepicker_input" name="booking-start" placeholder="Enter Rental Date">
			<div class="button-wrap ">
			  <input type="submit" class="search_button"value="SEARCH DRESSES">
			</div>
		</div>
	</form>
</div>

