<div class="grid-item remove_padding inline_search_form text-center">
	<form id="booking-form" action="/apps/bookthatapp">
		<div class="grid-item large--one-third medium--one-third">
		  <label for="" class="find_available_dresses">Find Available Dresses</label>
		</div>
		<div class="grid-item large--one-third medium--one-third">
		  <input type="text" autocomplete="off" class="datepicker bta datepicker_input" name="booking-start" placeholder="Search Rental Date">
		</div>
		<div class="grid-item large--one-third medium--one-third">
			<div class="button-wrap ">
			  <input type="submit" class="search_button" value="SEARCH DRESSES">
			</div>
		</div>
	</form>
</div>