<div class="grid-item remove_padding large--one-sixth large--right medium--right small--right text-center right_search_form">
	<form id="booking-form" action="/apps/bookthatapp">
		<div class="grid-item medium--one-third">
		  <label for="" class="find_available_dresses">Find Available Dresses</label>
		</div>
		<div class="grid-item medium--one-third">
		  <input type="text" autocomplete="off" class="datepicker bta datepicker_input" name="booking-start" placeholder="Rental Date">
		</div>
		<div class="grid-item medium--one-third">
			<div class="button-wrap ">
			  <input type="submit" class="search_button right_search_button" value="SEARCH DRESSES">
			</div>
		</div>
	</form>
</div>

