<div class="home-page">
<div class="gallery__slide"><img src="https://cdn.shopify.com/s/files/1/0401/1709/t/4/assets/samantha_in_red_back.jpeg?4848518727474345954" /></div>
<div class="gallery__slide">
<div class="table__contain pos_rel">
<div class="table__inner align_midle">
<div class="collectioncover__text">
<div class="home-slogan">
<h1><span class="gf-light">where</span> <span class="gf-bold">luxury</span></h1>
<h1><span class="red-dash">-</span><span class="gf-light">meets</span><span class="red-dash">-</span></h1>
<h1><span class="">affordability</span></h1>
</div>
<a href="http://theclosetservice.com/collections" class="gray-btn">RENT NOW</a></div>
</div>
</div>
</div>
</div>
  {% if shop.customer_accounts_enabled %}
    {% if customer %}

    {% else %}

    <div class="content_for_popin grid--full">
      {% layout settings.customer_layout %}
          <section class="page">
              <div class="page__inner">
                  <div class="page__text">

                    <h1>BECOME A <span class="gold_text">#CLOSETGIRL</span> AND RECEIVE 15% OFF YOUR FIRST RENTAL</h1>

                    {% form 'create_customer' %}
                      {{ form.errors | default_errors }}
                      <div class="grid--full">
                        <div class="grid__item one-whole form__row">
                          <label for="first_name">First Name</label>
                          <input type="text" value="" name="customer[first_name]" id="first_name" class="large" size="30" />
                        </div>

                        <div class="grid__item one-whole form__row">
                          <label for="last_name">Last Name</label>
                          <input type="text" value="" name="customer[last_name]" id="last_name" class="large" size="30" />
                        </div>

                        <div class="grid__item one-whole form__row">
                          <label for="email">Email Address</label>
                          <input type="email" value="" name="customer[email]" id="email" class="large" size="30" />
                        </div>

                        <div class="grid__item one-whole form__row">
                          <label for="password">Password</label>
                          <input type="password" value="" name="customer[password]" id="password" class="large password" size="30" />
                        </div>

                        <div class="grid__item one-whole form__row">
                          <label for="birthday">Birthday</label>
                          <input type="text" value="" name="customer[note][Birthday]" id="birthday" class="large" size="30" {% if form.errors contains "birthday" %} class="error"{% endif %} />
                        </div>

                        <div class="grid__item one-whole form__row">
                          <label for="zip_code">Zip Code</label>
                          <input type="text" value="" name="customer[note][Zip Code]" id="zip_code" class="large" size="30" {% if form.errors contains "zip_code" %} class="error"{% endif %} />
                        </div>

                        <div class="form__row">
                          <input class="btn__generic" type="submit" value="Create Account" />
                        </div>
                      </div>
                    {% endform %}

                  </div>
              </div>
          </section>




    </div>
    <script>
      $(function() {
        $('.gallery').avgrund({
          width: 240, // max is 640px
          height: 400, // max is 350px
          showClose: true, // switch to 'true' for enabling close button
          showCloseText: 'Close', // type your text for close button
          closeByEscape: true, // enables closing popup by 'Esc'..
          closeByDocument: true, // ..and by clicking document itself
          holderClass: 'holder', //lets you name custom class for popin holder
          enableStackAnimation: false, // another animation type
          onBlurContainer: 'body', // enaables blur filter for specified block
          openOnEvent: false, // set to 'false' to init on load
          template: $('.content_for_popin'), // or function (elem) { }, or $('.content')
        });
      });
    </script>


    {% endif %}
  {% endif %}


</section>
