<section class="gallery{% if settings.use_footer %} hasfooter{% endif %}">
  <div class="gallery__inner">
    <div class="gallery__slide">
	    {{ 'homepage_2465.jpg' | asset_url | img_tag }}
		</div>
		<div class="gallery__slide">
		  {{ 'homepage_2521.jpg' | asset_url | img_tag }}
		</div>
		<div class="gallery__slide">
		  {{ 'homepage_253.jpg' | asset_url | img_tag }}
		</div>
		<div class="gallery__slide">
		  {{ 'homepage_2602.jpg' | asset_url | img_tag }}
		</div>
  </div>
</section>